@import url(https://fonts.googleapis.com/css?family=Ubuntu:regular,700);
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
// body
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	position: relative;
	padding: 0;
	margin: 0;
	font-family: Ubuntu;
	transition: all 1s ease;
	text-shadow: 2px 3px 2px rgba(#333, 0.15);
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: #8bc6ec;
		background-image: linear-gradient(135deg, #3d6a88 0%, #4a4d88 100%);
		opacity: 0.8;
		z-index: -1;
	}
}
// .header
.header {
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	padding: 10px;
	background-color: rgba(223, 223, 223, 0.5);
	font-size: 24px;
	box-shadow: 4px 6px 5px rgba(#333, 0.3);
	transition: all 0.5s;
	&_active {
		background-color: rgba(223, 223, 223, 0.9);
		z-index: 6;
		box-shadow: none;
		transition: all 0.5s;
	}
	// .header__timer
	&__timer {
		display: flex;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #dfdfdf;
		background-color: #2ecc71;
		color: #fff;
		position: relative;
		z-index: 5;
	}
	// .header__min
	&__min {
		padding: 0 10px;
		transition: 0.3s;
	}
	// .header__sec
	&__sec {
		padding: 0 10px;
		transition: 0.3s;
	}
	// .header__wrapper
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 400px;
		margin: 0 auto;
	}
	// .header__btns
	&__btns {
		display: flex;
		position: relative;
		z-index: 5;
	}
	// .header__btn
	&__btn {
		max-width: 150px;
		min-width: 40px;
		height: 40px;
		border: 1px solid #dfdfdf;
		background-color: #2eb4cc;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		&:hover {
			background-color: #2e8dcc;
		}
		&:active {
			transform: scale(0.8);
		}
	}
	&__new {
		margin-right: 10px;
	}
	// .header__value
	&__value {
		margin-left: 10px;
		padding: 0 10px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #e2df3a;
		border: 1px solid rgb(255, 255, 255);
		position: relative;
		z-index: 5;
		span {
			margin: 0 3px;
			font-weight: 700;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: 0.5s all;
		}
	}
}
// about
.about {
	// .about__btn
	&__btn {
		position: relative;
		z-index: 5;
		background-color: #b3e0ff;
		&:hover {
			background-color: #75c5fa;
		}
	}
	// .about__rules
	&__rules {
		position: fixed;
		width: 100%;
		top: 60px;
		left: 0;
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(223, 223, 223, 0.9);
		color: #333;
		transform: translateY(-100%);
		opacity: 0;
		transition: all 0.5s;
		box-shadow: 4px 6px 5px rgba(#333, 0.3);
		&_active {
			transform: translateY(0%);
			opacity: 1;
			transition: all 0.5s;
		}
	}
	&__text {
		max-width: 50%;
	}
}
// .board
.board {
	width: 400px;
	height: 400px;
	background-color: rgba(223, 223, 223, 0.3);
	position: relative;
	z-index: 1;
	transition: 0.3s all;
	transition-delay: 0.3s;
	transform: scale(0);
}
// .item
.item {
	position: absolute;
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 44px;
	font-weight: 700;
	border: 1px solid #dfdfdf;
	background-color: #2ecc71;
	cursor: pointer;
	z-index: 2;
	opacity: 0.7;
	transition: 0.3s all;
	&:hover {
		background-color: #27ae60;
		text-decoration: none;
		opacity: 1;
	}
	&.place {
		background-color: #3ae2ce;
		&:hover {
			background-color: #31afa0;
		}
		&.empty:hover {
			background-color: transparent;
		}
	}
	&.empty {
		background: none;
		box-shadow: none;
		border: 0;
		font-size: 0;
		z-index: 1;
	}
}
// fail styles
.item[data-currentplace="15"][data-startposition="14"].fail,
.item[data-currentplace="14"][data-startposition="15"].fail {
	animation: fail 0.3s linear infinite;
}
// .popUp
.popUp {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	width: 390px;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	animation: popUp 1s ease-in-out 1 forwards;
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
	border: 2px solid #dfdfdf;
	z-index: 3;
	text-align: center;
	&_win {
		background-color: #e69854;
	}
	&_end {
		background-color: #425add;
	}
	span {
		margin-bottom: 10px;
	}
	&__string {
		color: #fbff00;
		text-shadow: 0 0 5px rgb(59, 0, 155);
	}
	&__time {
		color: rgb(0, 245, 224);
		text-shadow: 0 0 2px #333;
	}
	&__score {
		text-shadow: 0 0 2px #333;
		color: rgb(21, 255, 0);
		font-size: 2rem;
	}
}
// muted-btn
.muted {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(160px, 240px);
	border-color: #333;
	transition: 0.3s all;
	transition-delay: 0.3s;
	background-color: #b3e0ff;
	&:hover {
		background-color: #75c5fa;
	}
	&:active {
		transform: translate(160px, 240px) scale(0.8);
	}
	&_active {
		background-color: rgb(145, 145, 145);
		&:hover {
			background-color: rgb(201, 201, 201);
			transition: 0.3s;
		}
	}
}

// .footer
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(223, 223, 223, 0.5);
	box-shadow: -4px -6px 5px rgba(#333, 0.3);
	a {
		margin: 0 10px;
		text-decoration: none;
		color: #000;
		opacity: 0.5;
		font-weight: 700;
		transition: 0.3s;
		&:hover {
			opacity: 1;
			transition: 0.3s;
		}
	}
}

@keyframes popUp {
	from {
		opacity: 0;
		transform: translate(-50%, -50%) scale(0);
	}
	to {
		opacity: 0.9;
		transform: translate(-50%, -50%) scale(1);
	}
}

@keyframes fail {
	from {
		background-color: rgba(112, 0, 134, 0.8);
	}
	70% {
		background-color: rgba(13, 0, 134, 0.562);
	}
	to {
		background-color: rgba(102, 255, 0, 0.8);
	}
}
@media (max-width: 991.98px) {
	.about {
		&__text {
			max-width: 80%;
		}
	}
}
@media (max-width: 767.98px) {
	.header {
		font-size: 18px;
		&__sec,
		&__min {
			padding: 0 5px;
		}
		&__btn {
			margin: 0;
		}
		&__new {
			margin-right: 5px;
		}
		&__value {
			margin: 0;
		}
	}
	.about {
		&__text {
			max-width: 100%;
		}
	}
}
@media (max-width: 420px) {
	.item {
		max-width: 75px;
		flex: 0 0 75;
		height: 75px;
	}
	.board {
		height: 300px;
		width: 300px;
	}
	.header__btn {
		font-size: 18px;
	}
	.popUp {
		max-width: 290px;
	}
	.muted {
		transform: translate(110px, 190px);
		&:active {
			transform: translate(110px, 190px) scale(0.8);
		}
	}
}
